* {
    margin: 0;
}

.mobile-toggle {
    display: none;
}

/* ...existing code... */

body {
    /**/
    background-image: url("Bilder för slut Projekt/slutProjekt.bakgrundsBild-dekstop.AVIF");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Fix placement on desktop; mobile will switch to scroll */
    background-attachment: fixed;
    margin-top: 80px;
    min-height: 100vh;
    color: white;

}

body .dark {
    --text: black;

}

header {
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s, background 1s;
}

#nav li:nth-child(3) a {
    color: green;
    border-radius: 5px;
    text-decoration: underline;
}

ul {
    display: flex;
    gap: 12vw;
    justify-content: center;

}

li {
    list-style-type: none;
    padding: 20px;
    margin-top: 10px;

}

li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-style: solid;
    border-color: transparent;
    font-size: 20px;

}

li a:hover {
    color: rgba(255, 255, 255, 65%);
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: transparent;
}

li a:active {
    color: rgba(255, 255, 255, 30%);

}

.logo {
    position: absolute;
    display: flex;
    left: 10px;
    bottom: 20px;
    font-size: 20px;
    background-color: green;
    color: white;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 2px;
}

span {
    color: green;
    background-color: white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}


.main {
    display: grid;
    grid-template-columns: repeat(3);
    justify-content: center;
}

.info {
    text-align: center;
    color: white;
    padding: 15px;
}

.info h1 {
    padding-bottom: 15px;
}

.macro-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

section {
    padding: 10px;
}

.card {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border: 1px solid green;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: green 2px 0 0;
}

.guide-box {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    border-left: 5px solid green;
    border-right: 5px solid green;
}

.daily-intake {
    background-color: rgba(0, 0, 0, 0.7);
    max-width: fit-content;
    border-left: 5px solid green;
    border-right: 5px solid green;
    padding: 20px;
    display: grid;
    place-items: center;
    margin-right: auto;
    margin-left: auto;
    gap: 20px;
}

.daily-intake-info {
    max-width: 500px;
}

.daily-intake h4 {
    text-align: center;
}



.gender button:hover {
    background-color: rgb(0, 100, 0);
}

.gender button {
    background-color: rgb(0, 200, 0);
    cursor: pointer;
    padding: 10px;
    color: black;
}

#activityChoice {
    display: grid;
    grid-template-columns: repeat(3.1fr);
    gap: 10px;
}

#activityChoice button {
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
}

#activityChoice button:hover{
    background-color: rgba(255, 255, 255, 0.75);
}

#displayIntake {
    background-color: white;
    color: black;
    padding: 10px;
    border-style: solid;
    border-radius: 10px;
}

.macros {
    text-align: center;
    display: grid;
    gap: 10px;
    font-size: 15px;
    max-width: 200px;
}

#userDailyIntake {
    color: white;

}

.calc-reset {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.calc-reset button {
    padding: 10px;
    cursor: pointer;
}




footer {

    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 40px 20px;
    margin-top: 90px;
    border-top: 2px solid green;
    border-bottom: 2px solid green;
    text-align: center;

}

.footer h3 {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer h4 {
    color: green;
}

.sociala-medier a {
    color: white;
    text-decoration: none;
    display: block;
}


@media (max-width: 768px) {

    html,
    body {
        overflow-x: hidden;
    }

    body {
        background-attachment: fixed;
        background-image:url("Bilder för slut Projekt/slutProjekt.bakgrundsBild-mobile.AVIF");
    }

    header {
        display: flex;
        justify-content: flex-end;
        top: 15px;
    }

    .logo {
        position: absolute;
    }

    #menu-btn {
        margin-bottom: 3.5px;
    }

    /*Visar hamburger knappen*/
    .mobile-toggle {
        display: block;
        font-size: 30px;
        background: none;
        border: none;
        color: white;
        padding: 10px;
        cursor: pointer;
        transition: transform .2s;
        z-index: 1000;
    }

    .mobile-toggle:active {
        transform: scale(1.2);
    }

    /*Med hjälp av JS kommer naven synas anorulunda på mobilen*/
    #nav {
        display: none;
        position: absolute;
        justify-content: center;
        right: 0;
        top: 81px;
        background-color: rgba(0, 0, 0, 0.9);
        border-bottom-left-radius: 15px;
        box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.5);
        z-index: 999;
        flex-direction: column;
        padding: 20px 0;
    }

    ul {
        display: flex;
        justify-content: center;
        gap: 50px;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li a {
        color: black;
        background-color: white;
        text-align: center;
        border-radius: 5px;
    }

    li a:active {
        color: black;
        background-color: rgba(255, 255, 255, 0.5);
        text-align: center;
        border-radius: 5px;
    }

    #nav.show-mobile {
        display: flex;
    }

    #nav ul {
        flex-direction: column;
        gap: 0;
        margin: 0;
    }

    #nav li a {
        font-size: 1.2rem;
        padding: 5px;
        display: block;
    }

    .macro-container {
        flex-direction: column;
        gap: 20px;
        padding: 10px;
    }

    .card {
        width: 90%;
        max-width: 420px;
        margin: 0 auto;
        box-sizing: border-box;
    }

    .daily-intake-info h4 {
        font-size: 30px;
    }

    .gender button {
        cursor: pointer;
        padding: 20px;
        font-size: 20px;
    }

    .gender h4 {
        font-size: 25px;
    }

    #activityChoice button {
        padding: 15px;
        font-size: 15px;
    }

    .age,
    .weight,
    .height {
        font-size: 20px;
    }

    #age,
    #weight,
    #height {
        color: black;
    }

    .age input {
        font-size: 20px;
    }

    .weight input {
        font-size: 20px;
    }

    .height input {
        font-size: 20px;
    }

    #userDailyIntake {
        font-size: 25px;

    }

    .macros {
        font-size: 20px;
        max-width: 200px;
    }

    .calc-reset button {
        padding: 20px;
        font-size: 20px;
        color: black;
    }
}