* {
    margin: 0;
}

.mobile-toggle {
    display: none;
}

body {
    background-image: url("Bilder för slut Projekt/övningar-bakgrunds-bild.AVIF");
    background-size: cover;
    height: 500px;
    margin-top: 80px;
}



header {
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s, background 1s;

}

#nav li:nth-child(2) a {
    color: white;
    border-radius: 5px;
    text-decoration: underline;
}

ul {
    display: flex;
    gap: 150px;
    justify-content: center;

}

li {
    list-style-type: none;
    padding: 20px;
    margin-top: 10px;

}

li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-style: solid;
    border-color: transparent;
    font-size: 20px;

}

li a:hover {
    color: rgba(255, 255, 255, 65%);
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: transparent;
}

li a:active {
    color: rgba(255, 255, 255, 30%);

}

.logo {
    position: absolute;
    display: flex;
    left: 10px;
    bottom: 20px;
    font-size: 20px;
    background-color: green;
    color: white;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 2px;
}

span {
    color: green;
    background-color: white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.info {
    text-align: center;
    color: white;
    padding: 15px;
}

.info h1 {
    padding-bottom: 15px;
}

.main {
    display: grid;
    grid-template-columns: repeat(3);
    justify-content: center;
}

.övning1 h1 {
    margin-top: 10px;
}

.övning1,
.övning2,
.övning3,
.övning4,
.övning5,
.övning6,
.övning7,
.övning8 {
    background-color: rgba(0, 0, 0, 0.65);
    align-items: column;
    text-align: center;
    width: fit-content;
    padding: 20px;
    padding-top: 0.05px;
    color: white;
}

.övning1 img,
.övning2 img,
.övning3 img,
.övning4 img,
.övning5 img,
.övning6 img,
.övning7 img,
.övning8 img {
    width: 250px;
    height: 300px;

}

.övning1 figcaption,
.övning2 figcaption,
.övning3 figcaption,
.övning4 figcaption,
.övning5 figcaption,
.övning6 figcaption,
.övning7 figcaption,
.övning8 figcaption {
    background-color: white;
    color: black;
    padding: 15px;
    border-radius: 5px;
}

footer {

    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 40px 20px;
    margin-top: 90px;
    border-top: 2px solid green;
    border-bottom: 2px solid green;
    text-align: center;

}

.footer h3 {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer h4 {
    color: green;
}

.sociala-medier a {
    color: white;
    text-decoration: none;
    display: block;
}

@media (max-width: 768px) {
    header {
        display: flex;
        justify-content: flex-end;
        top: 15px;
    }

    .logo {
        position: absolute;
    }

    .mobile-toggle {
        display: block;
        font-size: 30px;
        background: none;
        border: none;
        color: white;
        padding: 10px;
        cursor: pointer;
        transition: transform .2s;
        z-index: 1000;
    }

    .mobile-toggle:hover {
        transform: scale(1.2);
    }

    #nav {
        display: none;
        position: absolute;
        justify-content: center;
        right: 0;
        top: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        border-bottom-left-radius: 15px;
        box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.5);
        z-index: 999;
        flex-direction: column;
        padding: 20px 0;
    }

    #nav li:nth-child(2) a {
        color: black;

    }


    ul {
        display: flex;
        justify-content: center;
        gap: 50px;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li a {
        color: black;
        background-color: white;
        text-align: center;

    }

    li a:hover {
        padding: none;
        color: black;
        background-color: white;
        padding: 10px;
        border-radius: 10px;

    }

    #nav.show-mobile {
        display: flex;
    }

    #nav ul {
        flex-direction: column;
        gap: 0;
        margin: 0;
    }

    #nav li a {
        font-size: 1.2rem;
        padding: 5px;
        display: block;
    }
}